{% load staticfiles %}
{% load pwa %}
<!DOCTYPE html>
<html lang="es">
	<head>
		{% progressive_web_app_meta %}
		<title>Mis Perris</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="theme-color" content="#3f7f6a"/>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="#85D4B7">
		<meta name="google-signin-client_id" content="119167283898-naomnohg15r78go9r39it7lnegcgav0u.apps.googleusercontent.com">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
		<link rel="stylesheet" href={% static "./slick/slick.css" %}>
	  	<link rel="stylesheet" href={% static "./slick/slick-theme.css" %}>
		<link rel="stylesheet" href={% static "./css/style.css" %}>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css">
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script src={% static "js/main.js" %}></script>
		<!-- <script src="https://www.gstatic.com/firebasejs/5.5.9/firebase.js"></script>
		<script src="https://www.gstatic.com/firebasejs/5.5.9/firebase-messaging.js"></script> -->
	</head>
	<body>
		<header>
			<div class="logo-menu">
				<div class="contenedor">
					<div class="row">
						<div class="logo col-xs-12 col-md-4 center-xs start-md">
							<a href="/"><img id="MisPerris" alt="Logo Mis Perris" src={% static "img/logo.png" %}></a>
						</div>
						<nav class="menu col-xs-12 col-md-8 center-xs end-md">
							<a href="/">Inicio</a>
							<a href="/quienes_somos/">Quienes Somos</a>
							<a href="/servicios/">Servicios</a>
							<a href="/contacto/">Contáctenos</a>
						    {% if user.is_authenticated %}
                                <form method="post" action="{% url 'social:disconnect' 'google-oauth2' %}">
                                    {% csrf_token %}
                                    <input type="submit" class="submit" name="submit" value="Logout"/>
                                </form>
						    {% else %}
						        <form method="post" action="{% url 'social:begin' 'google-oauth2' %}">
                                    {% csrf_token %}
                                    <input type="submit" class="submit" name="submit" value="Login"/>
                                </form>
						    {% endif %}
						</nav>
					</div>
				</div>
			</div>
		</header>
		<div class="main">
		{% block content %}
		{% endblock %}
		</div>
		<footer class="pie">
			<div class="contenedor">
				<div class="row">
					<div class="col-xs-12 end-xs">
						<p>Xuseto Web © 2018<br/>Escuela de Informática y Telecomunicaciones</p>
					</div>
				</div>
			</div>
		</footer>
		<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	  	<script src={% static "./slick/slick.js" %} charset="utf-8"></script>
		<script src={% static "js/slick_script.js" %}></script>
	</body>
</html>