{% extends 'misperris/base_page.html' %}
{% load staticfiles %}

{% block content %}
<div class="carousel">
	<div class="contenedor">
		<div class="row center-xs">
			<div id="Titulo" class="col-xs-12">
				<h2>Perros Rescatados</h2>
			</div>
			<div class="col-xs-12">
				<section class="variable slider">
					<div class="center-xs">
						<img src={% static "img/rescatados/Bigotes.jpg" %}>
						<!-- <p>Bigotes nunca se separa de su peluche favorito</p> -->
					</div>
					<div class="center-xs">
						<img src={% static "img/rescatados/Chocolate.jpg" %}>
						<!-- <p>Chocolate manipula con ternura para que lo alimenten</p> -->
					</div>
					<div class="center-xs">
						<img src={% static "img/rescatados/Luna.jpg" %}>
						<!-- <p>Luna es una perrita muy tranquila y buena acompañante</p> -->
					</div>
					<div class="center-xs">
						<img src={% static "img/rescatados/Maya.jpg" %}>
						<!-- <p>Maya es toda un desastre, es muy juguetona y traviesa</p> -->
					</div>
					<div class="center-xs">
						<img src={% static "img/rescatados/Oso.jpg" %}>
						<!-- <p>Oso disfruta de estar al aire libre y sobretodo de la nieve</p> -->
					</div>
					<div class="center-xs">
						<img src={% static "img/rescatados/Pexel.jpg" %}>
						<!-- <p>Pexel será el mejor amigo que podrías desear</p> -->
					</div>
					<div class="center-xs">
						<img src={% static "img/rescatados/Wifi.jpg" %}>
						<!-- <p>Wifi es algo tímido, siempre mirando desde lejos. Es muy tierno</p> -->
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
<div class="info">
	<div class="contenedor">
		<div class="row center-xs">
			<div class="col-xs-12 col-md-4 center-xs">
				<p>Teléfono: +56 9 9856 5431</p>
			</div>
			<div class="col-xs-12 col-md-4 center-xs">
				{% if user.is_authenticated %}
                    <p>Hola, {{ user.first_name }}</p>
	            {% else %}
                    <p>Rescate y adopción de perros callejeros</p>
	            {% endif %}
			</div>
			<div class="col-md-4 col-xs-12 center-xs">
				<a href="https://web.facebook.com/Mis-Perris-923123641206651/"><img alt="facebook" src={% static "img/facebook.png" %}></a>
				<a href="https://twitter.com/MisPerris_"><img alt="twitter" src={% static "img/twitter.png" %}></a>
				<a href="https://www.instagram.com/misperris_/"><img alt="instagram" src={% static "img/instagram.png" %}></a>
				<a href="mailto:contacto.misperris@gmail.com"><img alt="email" src={% static "img/email.png" %}></a>
			</div>
		</div>
	</div>
</div>
<div class="articulos">
	<div class="contenedor">
		<div class="row">
			<div class="col-xs-12 col-md-6 end-xs">
				<h2>Rescate</h2>
				<h5>Etapa Uno</h5>
				<br><hr class="izquierda"><br>
				<p>Rescatamos perros en situación de peligro y/o abandono.<br />Los rehabilitamos y los preparamos para buscarles un hogar.</p>
				<br>
				<img src={% static "img/rescate.png" %} alt="Perro Rescatado">
			</div>
			<div class="derecha col-xs-12 col-md-6 start-xs">
				<img src={% static "img/crowfunding.png" %} alt="Crowfunding" id="crowfunding">
				<h2>Crowdfunding</h2>
				<h5>Financiamiento</h5>
				<br><hr><br>
				<p>Sigue nuestras redes sociales para informarte de las diversas campañas y actividades que realizamos para obtener financiamiento para seguir ayudando.</p>
				<br><br>
				<strong>&nbsp; Campañas&nbsp;&nbsp;</strong>
			</div>
		</div>
	</div>
</div>
{% endblock %}