{% extends 'misperris/base_page.html' %}
{% load staticfiles %}

{% block content %}
<div class="contenedor">
	<div class="imagenprro row center-xs">
		<div class="col-xs-12">
			<img id="imgpri" src={% static "img/perro.png" %} alt="Doggo">
			<br>
		</div>
	</div>
	<div class="formulario row center-xs">
		<div class="col-xs-12">
			<h2>Registro de Adopción</h2>
			<p>Ingrese datos del perrito que quiera dar en adopción.</p><br>
			<form name="fdatos" method="post">
				{% csrf_token %}
				<center>
					<table>
						<tr>
							<td>{{ form }}</td>
						</tr>
						<tr>
							<td><br></td>
						</tr>
						<tr>
							<td colspan="2" align="center">
								<input type="submit" value="Guardar Datos" onClick="valida_datos()">
							</td>
						</tr>
					</table>
				</center>
			</form>
		</div>
	</div>
</div>
{% endblock %}